@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;
@use "../../styles/variables" as *;


.backButton {

  text-align: center;
  //   width: 6.25rem;
  height: 3.125rem;
  @include light;
  background: none;
  color: white;
  // border: solid $second-white 0.125rem;
  padding: 6px 2px;
  // border-radius: 50%;
  // background: url("../../assets/images/back.png");
  

  &:hover {
    cursor: pointer;
  }
}
// src\assets\svg\go-back-arrow-svgrepo-com.svg
