@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;
@use "../../styles/variables" as *;
.mars {
  @include storyFlex;

  &__left {
    @include left;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &__asteroid {
    @include light;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    justify-content: flex-start;
  }
  &__number {
    @include light;
    color: white;
    font-size: 2rem;
  }
  &__selectDataFor {
    @include light;
    font-size: 1.5rem;
  }
  &__selectBox {
    @include light;
    font-size: 1.5rem;
    height: 3rem;
    background: black;
    border: solid $second-white 0.125rem;
    padding: 6px;
    border-radius: 0.625rem;
  }
}
select option {
  background-color: none;
}
