// primary colors
$instock-black: #13182c;
$instock-indigo: #2e66e5;
$white: #ffffff;
$second-white: rgba(255, 255, 255, 0.67);

// secondary colours
$slate: #5c667e;
$cloud: #bdc5d5;

//background-colours
$graphite: #232940;
$light-grey: #f7f8f9;

// suporting colours
$green: #158463;
$red: #c94515;
