@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;
@use "../../styles/variables" as *;

.header {
  background-color: grey;
  @include flex(space-between, center, row);
  height: 10vw;
  &__title {
    @include medium;
    font-size: 2rem;
    font-weight: 800;
  }
}
